body {
	background: linear-gradient(90deg, #ccffff, #ffcccc);
	flex-direction: column;
	align-items: center;
	padding: 0 auto;
	margin: 0 auto;
	display: flex;
	font-size: 2em;
	width: 100%;
}

h1 {
   color: #4d8acc;
   font-family: Verdana, Geneva, sans-serif;
}

#dateNow {
	color: #17d0ed;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 30px;
}

input {
	color: #39526d;
	padding: 5px 40px 5px 40px;
	margin-top: 10px;
	border-radius: 7px;
	text-align: center;
	font-size: 1em;
	border: 2px solid #4d8acc;
}

#add {
	margin-top: 15px;
	border-radius: 7px;
	text-align: center;
	font-size: 1em;
	border: 2px solid #4d8acc;
	cursor: pointer;
	/* Making the button invisible */
	background: transparent;
  	border: none !important;
     font-size:0;
}

.removeTask {
	background-color: transparent;
	margin-right: 5px;
	font-size: 0.8em;
	color: red;
	border: none;
	cursor: pointer;
}

button, input:focus {  /* Removes the blue border on click */   
	outline: 0;  
}

#myList {
	list-style-type: none;
}

li {
   width: 650px;
   color: #214770;
   font-size: 1.3em;
   margin-top: 15px; 
   animation: fadeIn 2s;
   white-space: pre-wrap;
   word-break: break-word;
}

@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media only screen and (min-width: 50px) and (max-width: 360px) { /* MOBILE PHONES MINIMUM 50 + */
	body {
		font-size: 1em;
	}

	li {
		width: 250px;
		margin-left: -50px;
	}
} /* End of @media min-width 50px */

@media only screen and (min-width: 360px) and (max-width: 375px) { /* MOBILE PHONES 360 + */
	body {
		font-size: 1.1em;
	}

	li {
		width: 250px;
		margin-left: -100px;
	}
} /* End of @media min-width 360px */

@media only screen and (min-width: 375px) and (max-width: 411px) { /* MOBILE PHONES 375 + */
	body {
		font-size: 1.3em;
	}

	li {
		width: 250px;
		margin-left: -100px;
	}
} /* End of @media min-width 375px */

@media only screen and (min-width: 411px) and (max-width: 768px) { /* MOBILE PHONES 411 + */
	body {
		font-size: 1.3em;
	}

	li {
		width: 250px;
		margin-left: -100px;
	}
} /* End of @media min-width 411px */

@media only screen and (min-width: 768px) and (max-width: 1024px) { /* SMALL TABLETS 768 + */
	body {
		font-size: 2em;
	}

	li {
		width: 350px;
		margin-left: -150px;
	}
} /* End of @media min-width 768px */

@media only screen and (min-width: 1024px) and (max-width: 1280px) { /* TABLETS 1024 + */
	body {
		font-size: 3em;
	}

	li {
		width: 750px;
		margin-left: 20px;
	}
} /* End of @media min-width 1024px */
