html, body {
     background-image: url(images/dawn.jpg);
     position: fixed; /* Making the page unscrollable */
     min-width: 630px;
     min-height: 400px;
 }

 .wrapper {
    position: relative;
    margin: 0 auto;
    display: block;
    perspective: 1000px;
    perspective-origin: 60% 50%;
    transform: rotate(-10deg);
    margin-top: 270px;
    left: 36%;
}

.wrapper > div {
    position: relative;
    margin: auto;
    transform-style: preserve-3d;
    height: 0;
}

.main-logo {
    width: 250px;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 125px !important;
}

.main-logo .logo {
    width: 250px;
    height: 250px;
    background: url(images/M.png) no-repeat;
    background-size: cover;
    border-radius: 250px;
    margin: 0 auto;
    animation: spin-logo 40s infinite linear;
}

.effect {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    animation-iteration-count: infinite;
}

.mercury {
    position: absolute;
    width: 400px;
    z-index: 2;
    animation: orbitmercury 12s infinite linear;
    top: -7.5;
}

.mercury .effect {
    width: 15px;
    height: 15px;
    background-image: url(images/project-1.png);
    animation: anti-spin 12s infinite linear;
}

.venus {
    position: absolute;
    width: 506px;
    z-index: 3;
    animation: orbitvenus 15s infinite linear;
    top: -19px;
}

.venus .effect {
    width:  38px;
    height: 38px;
    background-image: url(images/venus.png);
    animation: anti-spin 15s infinite linear;
}

.earth {
    position: absolute;
    width: 610px;
    z-index: 4;
    animation: orbitearth 20s infinite linear;
    top: -20px;
}

.earth .effect {
    width: 40px;
    height: 40px;
    background-image: url(images/earth.png);
    animation: anti-spin 20s infinite linear;
}

.mars {
    position: absolute;
    width: 706px;
    z-index: 5;
    animation: orbitmars 30s infinite linear;
    top: -11px;
}

.mars .effect {
    width: 22px;
    height: 22px;
    background-image: url(images/mars.png);
    animation: anti-spin 30s infinite linear;
}

.project-1 {
    position: absolute;
    width: 1100px;
    z-index: 6;
    animation: orbitjupiter 50s infinite linear;
    top: -64px;
}

.project-1 .effect {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    
    animation: anti-spin 50s infinite linear;
}

.github {
	color: #24292E;
    text-decoration: none;
    margin-left: 50px;
	font-size: 30px;
    cursor: pointer;
    outline: 0;
    animation: anti-spin 50s infinite linear;
}

.github:hover {
    color: whitesmoke;
    transition: color 1s;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Animations ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@keyframes spin-logo {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes orbitmercury {
    0% {
        z-index: 2;
        transform: rotateY(0);
    }
    49% {
        z-index: 2;
    }
    50% {
        z-index: -2;
    }
    99% {
        z-index: -2;
    }
    100% {
        z-index: 2;
        transform: rotateY(360deg);
    }
}

@keyframes orbitvenus {
    0% {
        z-index: 3;
        transform: rotateY(0);
    }
    49% {
        z-index: 3;
    }
    50% {
        z-index: -3;
    }
    99% {
        z-index: -3;
    }
    100% {
        z-index: 3;
        transform: rotateY(360deg);
    }
}

@keyframes orbitearth {
    0% {
        z-index: 4;
        transform: rotateY(0);
    }
    49% {
        z-index: 4;
    }
    50% {
        z-index: -4;
    }
    99% {
        z-index: -4;
    }
    100% {
        z-index: 4;
        transform: rotateY(360deg);
    }
}


@keyframes orbitmars {
    0% {
        z-index: 5;
        transform: rotateY(0);
    }
    49% {
        z-index: 5;
    }
    50% {
        z-index: -5;
    }
    99% {
        z-index: -5;
    }
    100% {
        z-index: 5;
        transform: rotateY(360deg);
    }
}

@keyframes orbitjupiter {
    0% {
        z-index: 6;
        transform: rotateY(0);
    }
    49% {
        z-index: 6;
    }
    50% {
        z-index: -6;
    }
    99% {
        z-index: -6;
    }
    100% {
        z-index: 6;
        transform: rotateY(360deg);
    }
}



@keyframes anti-spin {
    form {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-360deg);
    }
}