html, body {
     background-image: url(images/dawn.jpg);
     position: fixed; /* Making the page unscrollable */
     min-width: 630px;
     min-height: 400px;
 }

img {
    image-rendering: auto;
}

 .wrapper {
    position: relative;
    margin: 0 auto;
    display: block;
    perspective: 1000px;
    perspective-origin: 60% 50%;
    transform: rotate(-10deg);
    margin-top: 200px;
    left: 33%;
}

.wrapper > div {
    position: relative;
    margin: auto;
    transform-style: preserve-3d;
    height: 0;
}

.main-title {
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 125px !important;
}

.main-title .title {
    width: 250px;
    height: 350px;
    border-radius: 250px;
    margin: 0 auto;

}

#mainTitle {
    position: absolute;
    top: 170px;
    left: 50px;
}

#mainTitle p {
    margin-top: -20px;
    margin-left: 3px;
    color: rgb(0, 136, 146);
    font-size: 1em;
    font-weight: bold;
}

.effect {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    animation-iteration-count: infinite;
}


/* RESUME */


.resume {
    position: absolute;
    width: 400px;
    z-index: 2;
    animation: float-resume 12s infinite linear;
    top: -7.5;
}

.resume .effect {
    width:  70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(30, 30, 30);
    animation: anti-spin 12s infinite linear;
}

.resume h5 {
    margin-top: 26px;
    margin-left: 13px;
}

.resume a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.resume a:hover {
    color: rgb(5, 134, 180);
    transition: color 1s;
}


/* ABOUT ME PAGE */


.about-me {
    position: absolute;
    width: 610px;
    z-index: 4;
    animation: float-about-me 20s infinite linear;
    top: -20px;
}

.about-me .effect {
    width: 160px;
    height: 120px;
    border-radius: 50%;
    animation: anti-spin 20s infinite linear; 
}

.about-me h5 {
    margin-top: 1px;
    margin-left: 35px;
}

.about-me a {
    text-decoration: none;
    color: black;
}

.about-me a:hover {
    color: #5920EF;
    transition: color 1s;
}

#about-image {
    animation: spin-about-image 45s infinite;
}

#color {
    color: #5920EF;
}

/* MORE PROJECTS */


.more-projects {
    position: absolute;
    width: 506px;
    z-index: 3;
    animation: float-more-projects 15s infinite linear;
    top: -19px;
}

.more-projects .effect {
    width:  70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(30, 30, 30);
    animation: anti-spin 15s infinite linear;
}

.more-projects h5 {
    margin-top: 20px;
    margin-left: 15px;
}

.more-projects a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.more-projects a:hover {
    color: darkred;
    transition: color 1s;
}


/* PROJECT 2 >>> Shape Clicker */


.project-2 {
    position: absolute;
    width: 706px;
    z-index: 5;
    animation: float-project-2 30s infinite linear;
    top: -11px;
}

.project-2 .effect {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    animation: anti-spin 30s infinite linear;
}

.project-2 h5 {
    margin-left: 6px;
}

.github-project-2 {
	color: #24292E;
    text-decoration: none;
    margin-left: 35px;
	font-size: 30px;
    cursor: pointer;
    outline: 0;
    
}

.github-project-2:hover {
    color: rgb(177, 70, 20);
    transition: color 1s;
}


/* PROJECT 1 >>> Online Code Editor */


.project-1 {
    position: absolute;
    width: 1100px;
    z-index: 6;
    outline: 0;
    animation: float-project-1 50s infinite linear;
    top: -64px;
}

.project-1 .effect {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    animation: anti-spin 50s infinite linear;
}

.project-1 h5 {
    margin-left: 10px;
}

.github-project-1 {
	color: #24292E;
    text-decoration: none;
    margin-left: 55px;
	font-size: 30px;
    cursor: pointer;
    outline: 0;
    
}

.github-project-1:hover {
    color: #2F7C76;
    transition: color 1s;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Animations ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@keyframes spin-about-image {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes float-resume {
    0% {
        z-index: 2;
        transform: rotateY(0);
    }
    49% {
        z-index: 2;
    }
    50% {
        z-index: -2;
    }
    99% {
        z-index: -2;
    }
    100% {
        z-index: 2;
        transform: rotateY(360deg);
    }
}

@keyframes float-more-projects {
    0% {
        z-index: 3;
        transform: rotateY(0);
    }
    49% {
        z-index: 3;
    }
    50% {
        z-index: -3;
    }
    99% {
        z-index: -3;
    }
    100% {
        z-index: 3;
        transform: rotateY(360deg);
    }
}

@keyframes float-about-me {
    0% {
        z-index: 4;
        transform: rotateY(0);
    }
    49% {
        z-index: 4;
    }
    50% {
        z-index: -4;
    }
    99% {
        z-index: -4;
    }
    100% {
        z-index: 4;
        transform: rotateY(360deg);
    }
}


@keyframes float-project-2 {
    0% {
        z-index: 5;
        transform: rotateY(0);
    }
    49% {
        z-index: 5;
    }
    50% {
        z-index: -5;
    }
    99% {
        z-index: -5;
    }
    100% {
        z-index: 5;
        transform: rotateY(360deg);
    }
}

@keyframes float-project-1 {
    0% {
        z-index: 6;
        transform: rotateY(0);
    }
    49% {
        z-index: 6;
    }
    50% {
        z-index: -6;
    }
    99% {
        z-index: -6;
    }
    100% {
        z-index: 6;
        transform: rotateY(360deg);
    }
}

@keyframes anti-spin {
    form {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(-360deg);
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media only screen and (min-width: 320px) and (max-width: 360px) { /* SMALL MOBILE PHONES 320 + */

} /* End of @media min-width 320px */


@media only screen and (min-width: 360px) and (max-width: 375px) { /* MOBILE PHONES 360 + */

} /* End of @media min-width 360px */


@media only screen and (min-width: 375px) and (max-width: 411px) { /* MOBILE PHONES 375 + */

} /* End of @media min-width 375px */


@media only screen and (min-width: 411px) and (max-width: 768px) { /* MOBILE PHONES 411 + */

} /* End of @media min-width 411px */


@media only screen and (min-width: 768px) and (max-width: 1024px) { /* SMALL TABLETS 768 + */

} /* End of @media min-width 768px */


@media only screen and (min-width: 1024px) and (max-width: 1280px) { /* TABLETS 1024 + */

} /* End of @media min-width 1024px */


@media only screen and (min-width: 1280px) and (max-width: 1440px) { /* SMALL LAPTOPS 1280 + */

} /* End of @media min-width 1280px */


@media only screen and (min-width: 1440px) and (max-width: 1820px) { /* LAPTOPS 1440 + */

} /* End of @media min-width 1440px */


@media only screen and (min-width: 1820px) and (max-width: 2200px) { /* DESKTOPS 1820 + */

} /* End of @media min-width 1820px */


@media only screen and (min-width: 2200px) { /* SCREENS 2200 + */

} /* End of @media min-width 2200px */