html, body {
     background-image: linear-gradient(to right, #537895 ,#09203f);
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
     margin: 0;
     padding: 0;
}

.work {
     padding-top: 100px;
     margin-top: -60px;
} 

.project {
     text-decoration: none;
     display: inline-block;
     overflow: hidden;
     height: 250px;
     width: 280px;
     margin: 40px 100px;
     border: 2px solid #48C2EE;
}

.project-pic {
     width: 100%;
     height: 220px;
     border-bottom: 2px solid #48C2EE;
}

.project-title {
     font-weight: bold;
     color: #48C2EE;
     margin-top: -2px;
}

/* Source Codes

.project-github {
     margin-top: 5px;
     font-weight: bold;
     color: #C31A02;
     cursor: pointer;
     outline: 0;
}

.project-github:hover {
     color: #E04202;
     transition: color 1s;
}

*/

#github {
     border-radius: 50%;
}

@media only screen and (max-width: 500px) {
     .project {
          margin: 40px 0;
     }
}