		
body {
	background-image: url("images/soft-color.png");
	font-family: Verdana, Geneva, sans-serif;
	background-size: cover;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	height: 100vh;
	display: flex;
 }

 .box-container {
	 width: 1000px;
	 display: flex;
	 flex-direction: column;
	 margin: auto;
	 position: fixed;
	 top: 25%;
 }

 p {
	 font-size: 1.2em;
	 font-weight: bold;
 }

/* ~~~~~~~~~~~~~~~~~~~~~~ BOX 1 ~~~~~~~~~~~~~~~~~~~~~~ */

 #box {
	top: 5%;
	width: 150px;
	height: 150px;
	position: absolute;
	animation-name: color-1;
	animation-duration: 6s;
	animation-iteration-count: infinite;
 }

 

/* ~~~~~~~~~~~~~~~~~~~~~~ BOX 2 ~~~~~~~~~~~~~~~~~~~~~~ */


 #box2 {
	margin-top: 5%;
	width: 50px;
	height: 50px;
	position: absolute;
	animation-name: color-2;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
 }

 

/* ~~~~~~~~~~~~~~~~~~~~~~ BOX 3 ~~~~~~~~~~~~~~~~~~~~~~ */

 #box3 {
	margin-top: 6%;
	width: 100px;
	height: 100px;
	position: absolute;
	animation-name: color-3;
	animation-duration: 4s;
	animation-iteration-count: infinite;	
 }

/* ~~~~~~~~~~~~~~~~~~~~~~ BOX 4 ~~~~~~~~~~~~~~~~~~~~~~ */

 #box4 {
	margin-top: 5%;
	width: 50px;
	height: 50px;
	position: absolute;
	animation-name: color-4;
	animation-duration: 2s;
	animation-iteration-count: infinite;
 }

/* ~~~~~~~~ Color Changer ~~~~~~~~*/

@keyframes color-1 {

 0% {
	 left: 0%;
	 background-color: #ff0000;
 }
 50% {
	left: 80%;
	opacity: 0.1;
	 }
 100% {
	 left: 0%;
	 background-color: #009dff;
 }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@keyframes color-2 {

 0% {
	 top: 10%;
	 background-color: #1de237;
 }
 50% {
	left: 60%;
	opacity: 0.1;
}
 100% {
	 bottom: 20%;
	 background-color: #7a55f4;
 }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@keyframes color-3 {

 0% {
	 bottom: 10%;
	 background-color: #faff00; 
 }
 50% {
	left: 80%;
	opacity: 0.1;
	 }
 100% {
	 top: 10%;
	 background-color: #ce3939; 
 }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@keyframes color-4 {

 0% {
	 top: 20%;
	 background-color: #c978d3;
 }
 50% {
	left: 80%;
	opacity: 0.1;
	 }
 100% {
	 bottom: 80%;
	 background-color: #000000;
 }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media only screen and (min-width: 0px) and (max-width: 768px) { /* MOBILE PHONES */
	body {
		background-attachment: fixed;
		background-position: 23% 15%;
	}	
	.box-container {
		 width: 300px;
		 top: 20%;
		 left: -20%;
	}
	p {
		 margin-left: -2%;
		 margin-top: 1%;
		 font-size: 10px;
	 }
} /* End of @media min-width 0px */


@media only screen and (min-width: 768px) and (max-width: 1280px) { /* SMALL TABLETS 768 + */
	.box-container {
		width: 700px;
		top: 30%;
	}
	p {
		margin-left: -5%;
		margin-top: 1%;
		font-size: 1.5em;
	}
} /* End of @media min-width 768px */
