html, body {
     background-color: #09203f;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
     text-align: center;
     min-width: 260px;
     min-height: 100vh;
}

#container {
     position: relative;
     margin-top: 2%;
     left: 32%;
     width: 650px;
     height: 650px;
     padding: 0;
}

.image {
     width: 100%;
     height: auto;
     border: 2px solid #00AEEF;
     border-radius: 5px;
   }

#save-pdf {
     position: relative;
     background-color: whitesmoke;
     padding: 5px;
     width: 140px;
     top: 1%;
     left: 25%;
     border: 2px solid #00AEEF;
     border-radius: 5px;
}

#save-pdf:hover {
     background-color: #00AEEF;
     transition: background-color 1s;
}

#save-pdf a {
     color: rgb(30, 30, 30);
     text-decoration: none;
     font-weight: bold;
}

#save-docx {
     position: relative;
     background-color: whitesmoke;
     padding: 5px;
     width: 140px;
     top: -4.1%;
     left: 50%;
     border: 2px solid #00AEEF;
     border-radius: 5px;
}

#save-docx:hover {
     background-color: #00AEEF;
     transition: background-color 1s;
}

#save-docx a {
     color: rgb(30, 30, 30);
     text-decoration: none;
     font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ RESPONSIVE LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media only screen and (min-width: 320px) and (max-width: 360px) { /* SMALL MOBILE PHONES 320 + */
     #container {
          left: 0;
          margin-top: 10%;
          width: 300px;
          height: 300px;
          padding: 0;
     }
     #save-pdf {
          padding: 5px;
          width: 90px;
          top: 5%;
          left: 16%;
          font-size: 0.7em;
     }
     #save-docx {
          padding: 5px;
          width: 90px;
          top: -4.1%;
          left: 52%;
          font-size: 0.7em;
     }
} /* End of @media min-width 320px */


@media only screen and (min-width: 360px) and (max-width: 375px) { /* MOBILE PHONES 360 + */
     #container {
          left: 2%;
          margin-top: 10%;
          width: 330px;
          height: 330px;
          padding: 0;
     }
     #save-pdf {
          padding: 5px;
          width: 90px;
          top: 5%;
          left: 18%;
          font-size: 0.7em;
     }
     #save-docx {
          padding: 5px;
          width: 90px;
          top: -3%;
          left: 51%;
          font-size: 0.7em;
     }
} /* End of @media min-width 360px */


@media only screen and (min-width: 375px) and (max-width: 411px) { /* MOBILE PHONES 375 + */
     #container {
          left: 3%;
          margin-top: 15%;
          width: 330px;
          height: 330px;
          padding: 0;
     }
     #save-pdf {
          padding: 5px;
          width: 90px;
          top: 5%;
          left: 17%;
          font-size: 0.7em;
     }
     #save-docx {
          padding: 5px;
          width: 90px;
          top: -3.1%;
          left: 50%;
          font-size: 0.7em;
     }
} /* End of @media min-width 375px */


@media only screen and (min-width: 411px) and (max-width: 768px) { /* MOBILE PHONES 411 + */
     #container {
          left: 10%;
          margin-top: 15%;
          width: 330px;
          height: 330px;
          padding: 0;
     }
     #save-pdf {
          padding: 5px;
          width: 90px;
          top: 5%;
          left: 18%;
          font-size: 0.7em;
     }
     #save-docx {
          padding: 5px;
          width: 90px;
          top: -3.2%;
          left: 51%;
          font-size: 0.7em;
     }
} /* End of @media min-width 411px */


@media only screen and (min-width: 768px) and (max-width: 1024px) { /* SMALL TABLETS 768 + */
     body, html {
          min-height: 115vh;
     }
     #container {
          left: 13%;
          margin-top: 2%;
          width: 650px;
          height: 700px;
          padding: 0;
     }
     .image {
          height: 110%;
     }
     #save-pdf {
          padding: 5px;
          width: 140px;
          top: 0.5%;
          left: 24%;
          font-size: 1em;
     }
     #save-docx {
          padding: 5px;
          width: 140px;
          top: -4.1%;
          left: 49%;
          font-size: 1em;
     }
} /* End of @media min-width 768px */


@media only screen and (min-width: 1024px) and (max-width: 1280px) { /* TABLETS 1024 + */
     #container {
          left: 26%;
          margin-top: 2%;
          width: 650px;
          height: 900px;
          padding: 0;
     }
     .image {
          height: 80%;
        }
     #save-pdf {
          padding: 5px;
          width: 130px;
          top: 1%;
          left: 26%;
          font-size: 1em;
     }
     #save-docx {
          padding: 5px;
          width: 130px;
          top: -2.6%;
          left: 49%;
          font-size: 1em;
     }
} /* End of @media min-width 1024px */


@media only screen and (min-width: 1280px) and (max-width: 1440px) { /* SMALL LAPTOPS 1280 + */
     body, html {
          min-height: 115vh;
     }
     #container {
          left: 30%;
          margin-top: 2%;
          width: 650px;
          height: 650px;
          padding: 0;
     }
     .image {
          height: 120%;
     }
     #save-pdf {
          padding: 5px;
          width: 130px;
          top: 0.6%;
          left: 27%;
          font-size: 1em;
     }
     #save-docx {
          padding: 5px;
          width: 130px;
          top: -4.5%;
          left: 50%;
          font-size: 1em;
     }
} /* End of @media min-width 1280px */


@media only screen and (min-width: 1440px) and (max-width: 1820px) { /* LAPTOPS 1440 + */
     body, html {
          min-height: 112vh;
     }
     #container {
          left: 29%;
          margin-top: 2%;
          width: 700px;
          height: 720px;
          padding: 0;
     }
     .image {
          height: 110%;
        }
     #save-pdf {
          padding: 5px;
          width: 100px;
          top: 0.8%;
          left: 31%;
          font-size: 0.8em;
     }
     #save-docx {
          padding: 5px;
          width: 100px;
          top: -3.3%;
          left: 48%;
          font-size: 0.8em;
     }
} /* End of @media min-width 1440px */