body { 
  background: url(images/nightsky.jpg); 
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#particles-js {
	height: 100vh;
}

#box {
	width: 450px;
	padding: 40px;
	text-align: center;
	color: white;
	font-family: italic, sans-serif;
	position: fixed;
	left: 34.5%;
	top: 10%;
	margin: 0 auto;
	float: center;
}

/*~~~ Fliping picture ~~~*/

#box input {
	position: relative;
	left: 27%;
	cursor: pointer;
}

input[type="checkbox"] {
      width: 200px;
	    height: 200px;
    	border-radius: 50%;
    	border: 0 none;
      margin: 0;
      padding: 0;
}

input[type="checkbox"] {
         content: url("images/profile-left.png");
         display: block;
         width: 200px;
         height: 200px;
         outline : none;
         border: 0;
}

input[type="checkbox"]:checked {
         content: url("images/profile-right.png");
         outline : none;
         border: 0;
}

.native-hidden {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~*/


#box h1 {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 4px;
	font-family: Verdana, Tahoma, sans-serif;
}

#box h5 {
	font-size: 25px;
	font-weight: 100;
	letter-spacing: 3px;
	font-family: cursive, Verdana, Tahoma, sans-serif;
}

p {
	font-family: cursive, Verdana, Tahoma, sans-serif;
	text-align: justify;
	font-size: 1.1em;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	margin: 6px;
	list-style: none;
}

.linkedin, .github, .facebook, .mail {
	color: white;
	text-decoration: none;
	font-size: 60px;
	cursor: pointer;
}

.github:hover {
	color: #24292E;
	transition: color 1s;
}

.linkedin:hover {
	color: #0077B5;
	transition: color 1s;
}

.facebook:hover {
	color: #4267B2;
	transition: color 1s;
}

.mail:hover {
	color: rgb(233, 10, 10);
	transition: color 1s;
}

/* ~~~~~~~~~~ Floating Animation ~~~~~~~~~~~~ */

/* ~~~~~~ LinkedIN Icon ~~~~~~ */

#linked {
	position: fixed;
	top: 5%;
	left: 32%;
	animation: moveLinkedin 35s infinite linear; 
}

/* ~~~~~~ Floating clockwise from top left ~~~~~~ */   

@keyframes moveLinkedin {
	0% {
		transform: rotate(360deg);
		top: 5%;
		left: 32%;
	}
	25% {
		transform: rotate(-360deg);
		top: 88%;
		left: 32%;
	}
	50% {
		transform: rotate(360deg);
		top: 88%;
  	left: 62%;
	}
	75% {
		transform: rotate(-360deg);
		top: 5%;
		left: 62%;
	}
	100% {
		transform: rotate(360deg);
		top: 5%;
		left: 32%;
	}
}


/* ~~~~~~ Facebook Icon ~~~~~~ */

#fb {
	position: fixed;
	top: 88%;
	left: 62%;
	animation: moveFacebook 25s  linear infinite; 
}

/* ~~~~~~ Floating counter clockwise from bottom right ~~~~~~ */

@keyframes moveFacebook {
	0% {
		transform: rotate(-360deg);
		top: 88%;
  	left: 62%;
	}
	25% {
		transform: rotate(360deg);
		top: 5%;
		left: 62%;
	}
	50% {
		transform: rotate(-360deg);
		top: 5%;
		left: 32%;
	}
	75% {
		transform: rotate(360deg);
		top: 88%;
		left: 32%;
	}
	100% {
		transform: rotate(-360deg);
		top: 88%;
  	left: 62%;
	}
}

/* ~~~~~~ Github Icon ~~~~~~ */

#git {
	position: fixed;
	top: 5%;
	left: 62%;
	animation: moveGithub 30s  linear infinite; 
}

/* ~~~~~~ Floating clockwise from top right ~~~~~~ */

@keyframes moveGithub {
	0% {
		transform: rotate(360deg);
		top: 5%;
		left: 62%;
	}
	25% {
		transform: rotate(-360deg);
		top: 88%;
  	left: 62%;
	}
	50% {
		transform: rotate(360deg);
		top: 88%;
		left: 32%;
	}
	75% {
		transform: rotate(-360deg);
		top: 5%;
		left: 32%;
	}
	100% {
		transform: rotate(360deg);
		top: 5%;
		left: 62%;
	}
}

/* ~~~~~~ Email Icon ~~~~~~ */

#mail {
	position: fixed;
	top: 88%;
	left: 32%;
	animation: moveEmail 20s  linear infinite; 
}

/* ~~~~~~ Floating clockwise from top right ~~~~~~ */

@keyframes moveEmail {
	0% {
		transform: rotate(-360deg);
		top: 88%;
		left: 32%;
	}
	25% {
		transform: rotate(360deg);
		top: 5%;
		left: 32%;
	}
	50% {
		transform: rotate(-360deg);
		top: 5%;
		left: 62%;
	}
	75% {
		transform: rotate(360deg);
		top: 88%;
  	left: 62%;
	}
	100% {
		transform: rotate(-360deg);
		top: 88%;
		left: 32%;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Making the page responsive ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (min-width: 50px) { /* MOBILE PHONES MINIMUM 50 + */
	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 25px;
	}

	#box {
		width: 50px;
		margin-left: 70px;
		margin-top: -30px;
	}

	#box input {
		width: 70px;
		height: 70px;
		margin-left: -110px;
	}

	#box h1 {
		font-size: 1em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 0.8em;
		margin-left: -170px;
	}

	#box p {
		font-size: 11px;
		margin-left: -170px;
	}

	#mail {
		top: 88%;
		left: 2%;
	}

	@keyframes moveEmail {
		0% {
			transform: rotate(-360deg);
			top: 88%;
			left: 2%;
		}
		25% {
			transform: rotate(360deg);
			top: 5%;
			left: 2%;
		}
		50% {
			transform: rotate(-360deg);
			top: 5%;
			left: 89%;
		}
		75% {
			transform: rotate(360deg);
			top: 88%;
		     left: 89%;
		}
		100% {
			transform: rotate(-360deg);
			top: 88%;
			left: 2%;
		}
	}

	#git {
		top: 5%;
		left: 89%;
	}
	
	@keyframes moveGithub {
		0% {
			transform: rotate(360deg);
			top: 5%;
			left: 89%;
		}
		25% {
			transform: rotate(-360deg);
			top: 88%;
		 	left: 89%;
		}
		50% {
			transform: rotate(360deg);
			top: 88%;
			left: 2%;
		}
		75% {
			transform: rotate(-360deg);
			top: 5%;
			left: 2%;
		}
		100% {
			transform: rotate(360deg);
			top: 5%;
			left: 89%;
		}
	}

	#fb {
		top: 88%;
		left: 89%;
	}
	
	@keyframes moveFacebook {
		0% {
			transform: rotate(-360deg);
			top: 88%;
		     left: 89%;
		}
		25% {
			transform: rotate(360deg);
			top: 5%;
			left: 89%;
		}
		50% {
			transform: rotate(-360deg);
			top: 5%;
			left: 2%;
		}
		75% {
			transform: rotate(360deg);
			top: 88%;
			left: 2%;
		}
		100% {
			transform: rotate(-360deg);
			top: 88%;
		     left: 89%;
		}
	}

	#linked {
		top: 5%;
		left: 2%;
	}
	  
	@keyframes moveLinkedin {
		0% {
			transform: rotate(360deg);
			top: 5%;
			left: 2%;
		}
		25% {
			transform: rotate(-360deg);
			top: 88%;
			left: 2%;
		}
		50% {
			transform: rotate(360deg);
			top: 88%;
			left: 89%;
		}
		75% {
			transform: rotate(-360deg);
			top: 5%;
			left: 89%;
		}
		100% {
			transform: rotate(360deg);
			top: 5%;
			left: 2%;
		}
	}
} /* End of @media min-width 50px */

@media only screen and (min-width: 320px) { /* SMALL MOBILE PHONES 320 + */
	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 25px;
	}

	#box {
		width: 50px;
		margin-left: 70px;
		margin-top: -30px;
	}

	#box input {
		width: 70px;
		height: 70px;
		margin-left: -110px;
	}

	#box h1 {
		font-size: 1em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 0.8em;
		margin-left: -170px;
	}

	#box p {
		font-size: 10px;
		margin-left: -170px;
	}

}


@media only screen and (min-width: 360px) { /* MOBILE PHONES 360 + */

	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 25px;
	}

	#box {
		width: 60px;
		margin-left: 70px;
		margin-top: -20px;
	}

	#box input {
		width: 70px;
		height: 70px;
		margin-left: -110px;
	}

	#box h1 {
		font-size: 1em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 0.8em;
		margin-left: -170px;
	}

	#box p {
		font-size: 12px;
		margin-left: -170px;
	}

	#mail {
		top: 88%;
		left: 2%;
	}

	@keyframes moveEmail {
		0% {
			transform: rotate(-360deg);
			top: 88%;
			left: 2%;
		}
		25% {
			transform: rotate(360deg);
			top: 5%;
			left: 2%;
		}
		50% {
			transform: rotate(-360deg);
			top: 5%;
			left: 89%;
		}
		75% {
			transform: rotate(360deg);
			top: 88%;
		     left: 89%;
		}
		100% {
			transform: rotate(-360deg);
			top: 88%;
			left: 2%;
		}
	}

	#git {
		top: 5%;
		left: 89%;
	}
	
	@keyframes moveGithub {
		0% {
			transform: rotate(360deg);
			top: 5%;
			left: 89%;
		}
		25% {
			transform: rotate(-360deg);
			top: 88%;
		 	left: 89%;
		}
		50% {
			transform: rotate(360deg);
			top: 88%;
			left: 2%;
		}
		75% {
			transform: rotate(-360deg);
			top: 5%;
			left: 2%;
		}
		100% {
			transform: rotate(360deg);
			top: 5%;
			left: 89%;
		}
	}

	#fb {
		top: 88%;
		left: 89%;
	}
	
	@keyframes moveFacebook {
		0% {
			transform: rotate(-360deg);
			top: 88%;
		     left: 89%;
		}
		25% {
			transform: rotate(360deg);
			top: 5%;
			left: 89%;
		}
		50% {
			transform: rotate(-360deg);
			top: 5%;
			left: 2%;
		}
		75% {
			transform: rotate(360deg);
			top: 88%;
			left: 2%;
		}
		100% {
			transform: rotate(-360deg);
			top: 88%;
		     left: 89%;
		}
	}

	#linked {
		top: 5%;
		left: 2%;
	}
	  
	@keyframes moveLinkedin {
		0% {
			transform: rotate(360deg);
			top: 5%;
			left: 2%;
		}
		25% {
			transform: rotate(-360deg);
			top: 88%;
			left: 2%;
		}
		50% {
			transform: rotate(360deg);
			top: 88%;
			left: 89%;
		}
		75% {
			transform: rotate(-360deg);
			top: 5%;
			left: 89%;
		}
		100% {
			transform: rotate(360deg);
			top: 5%;
			left: 2%;
		}
	}
} /* End of @media min-width 360px */


@media only screen and (min-width: 375px) { /* MOBILE PHONES 375 + */

	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 30px;
	}

	#box {
		width: 60px;
		margin-left: 70px;
		margin-top: -20px;
	}

	#box input {
		width: 90px;
		height: 90px;
		margin-left: -120px;
	}

	#box h1 {
		font-size: 1.2em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 0.9em;
		margin-left: -170px;
	}

	#box p {
		font-size: 12px;
		margin-left: -170px;
	}
} /* End of @media min-width 375px */


@media only screen and (min-width: 411px) { /* MOBILE PHONES 411 + */

	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 35px;
	}

	#box {
		width: 90px;
		margin-left: 65px;
		margin-top: -20px;
	}

	#box input {
		width: 90px;
		height: 90px;
		margin-left: -110px;
	}

	#box h1 {
		font-size: 1.2em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 0.9em;
		margin-left: -170px;
	}

	#box p {
		font-size: 14px;
		margin-left: -170px;
	}
} /* End of @media min-width 411px */


@media only screen and (min-width: 768px) { /* SMALL TABLETS 768 + */

	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 45px;
	}

	#box {
		width: 250px;
		margin-left: 40px;
		margin-top: -20px;
	}

	#box input {
		width: 110px;
		height: 110px;
		margin-left: -75px;
	}

	#box h1 {
		font-size: 1.4em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 1em;
		margin-left: -170px;
	}

	#box p {
		font-size: 16px;
		margin-left: -170px;
	}
} /* End of @media min-width 768px */


@media only screen and (min-width: 1024px) { /* TABLETS 1024 + */

	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 50px;
	}

	#box {
		width: 250px;
		margin-left: 80px;
		margin-top: -20px;
	}

	#box input {
		width: 120px;
		height: 120px;
		margin-left: -90px;
	}

	#box h1 {
		font-size: 1.5em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 1em;
		margin-left: -170px;
	}

	#box p {
		font-size: 17px;
		margin-left: -170px;
	}
} /* End of @media min-width 1024px */


@media only screen and (min-width: 1280px) { /* SMALL LAPTOPS 1280 + */

	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 45px;
	}

	#box {
		width: 200px;
		margin-left: 165px;
		margin-top: -20px;
	}

	#box input {
		width: 150px;
		height: 150px;
		margin-left: -120px;
	}

	#box h1 {
		font-size: 1.7em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 1em;
		margin-left: -170px;
	}

	#box p {
		font-size: 15px;
		margin-left: -170px;
	}

	/* ~~~~~~~~~~ Floating Animation ~~~~~~~~~~~~ */

/* ~~~~~~ LinkedIN Icon ~~~~~~ */

#linked {
	position: fixed;
	top: 5%;
	left: 32%;
	animation: moveLinkedin 35s infinite linear; 
}

/* ~~~~~~ Floating clockwise from top left ~~~~~~ */   

@keyframes moveLinkedin {
	0% {
		transform: rotate(360deg);
		top: 5%;
		left: 32%;
	}
	25% { /* Place mail */
		transform: rotate(-360deg);
		top: 88%;
		left: 32%;
	}
	50% { /* Place fb */
		transform: rotate(360deg);
		top: 88%;
		left: 68%;
	}
	75% { /* Place git */
		transform: rotate(-360deg);
		top: 5%;
		left: 68%;
	}
	100% {
		transform: rotate(360deg);
		top: 5%;
		left: 32%;
	}
}


/* ~~~~~~ Facebook Icon ~~~~~~ */

#fb {
	position: fixed;
	top: 88%;
	left: 68%;
	animation: moveFacebook 25s  linear infinite; 
}

/* ~~~~~~ Floating counter clockwise from bottom right ~~~~~~ */

@keyframes moveFacebook {
	0% {
		transform: rotate(-360deg);
		top: 88%;
  		left: 68%;
	}
	25% { /* Place git */
		transform: rotate(360deg);
		top: 5%;
		left: 68%;
	}
	50% { /* Place linked */
		transform: rotate(-360deg);
		top: 5%;
		left: 32%;
	}
	75% { /* Place mail */
		transform: rotate(360deg);
		top: 88%;
		left: 32%;
	}
	100% {
		transform: rotate(-360deg);
		top: 88%;
  		left: 68%;
	}
}

/* ~~~~~~ Github Icon ~~~~~~ */

#git {
	position: fixed;
	top: 5%;
	left: 68%;
	animation: moveGithub 30s  linear infinite; 
}

/* ~~~~~~ Floating clockwise from top right ~~~~~~ */

@keyframes moveGithub {
	0% {
		transform: rotate(360deg);
		top: 5%;
		left: 68%;
	}
	25% { /* Place fb */
		transform: rotate(-360deg);
		top: 88%;
		left: 68%;
	}
	50% { /* Place mail */
		transform: rotate(360deg);
		top: 88%;
		left: 32%;
	}
	75% { /* Place linked */
		transform: rotate(-360deg);
		top: 5%;
		left: 32%;
	}
	100% {
		transform: rotate(360deg);
		top: 5%;
		left: 68%;
	}
}

/* ~~~~~~ Email Icon ~~~~~~ */

#mail {
	position: fixed;
	top: 88%;
	left: 32%;
	animation: moveEmail 20s  linear infinite; 
}

/* ~~~~~~ Floating clockwise from top right ~~~~~~ */

@keyframes moveEmail {
	0% {
		transform: rotate(-360deg);
		top: 88%;
		left: 32%;
	}
	25% { /* Place linked */
		transform: rotate(360deg);
		top: 5%;
		left: 32%;
	}
	50% { /* Place git */
		transform: rotate(-360deg);
		top: 5%;
		left: 68%;
	}
	75% { /* Place fb */
		transform: rotate(360deg);
		top: 88%;
		left: 68%;
	}
	100% {
		transform: rotate(-360deg);
		top: 88%;
		left: 32%;
	}
}

} /* End of @media min-width 1280px */


@media only screen and (min-width: 1440px) { /* MEDIUM LAPTOPS 1440 + */
	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 40px;
	}

	#box {
		width: 300px;
		margin-left: 155px;
		margin-top: -30px;
	}

	#box input {
		width: 150px;
		height: 150px;
		margin-left: -100px;
	}

	#box h1 {
		font-size: 1.9em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 1.4em;
		margin-left: -170px;
	}

	#box p {
		font-size: 16px;
		margin-left: -170px;
	}
} /* End of @media min-width 1440px */

@media only screen and (min-width: 1820px) { /* DESKTOPS 1820 + */

	.linkedin, .github, .facebook, .mail {
		color: white;
		text-decoration: none;
		font-size: 50px;
	}

	#box {
		width: 390px;
		margin-left: 167px;
		margin-top: -10px;
	}

	#box input {
		width: 180px;
		height: 180px;
		margin-left: -90px;
	}

	#box h1 {
		font-size: 2.1em;
		margin-left: -170px;
	}

	#box h2 {
		font-size: 1.4em;
		margin-left: -170px;
	}

	#box p {
		font-size: 19px;
		margin-left: -170px;
	}
} /* End of @media min-width 1820px */




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Move down in zig zags animation (optional)

@keyframes move {
	0% {
		transform: rotate(360deg);
		top: 10%;
		left: 20%;
	}
	10% {
		transform: rotate(-360deg);
		top: 25%;
		left: 15%;
 }
 20% {
   transform: rotate(360deg);
	 top: 40%;
	 left: 25%;              
 }
 30% {
	transform: rotate(-360deg);
	 top: 55%;
	 left: 15%;
 }
 40% {
	transform: rotate(360deg);
	 top: 70%;
	 left: 25%;
 }
 50% {
	transform: rotate(-360deg);
	top: 85%;
	left: 15%;
 }

 /*~~~~~ NOW BACKWARDS ~~~~~ 

 60% {
	transform: rotate(360deg);
	top: 65%;
	left: 25%;
 }
 70% {
		transform: rotate(-360deg);
		top: 55%;
		left: 15%;
 }
 80% {
	transform: rotate(360deg);
	top: 40%;
	left: 25%; 
 }
 90% {
	transform: rotate(-360deg);
	top: 25%;
	left: 15%;
 }
 100% {
	transform: rotate(360deg);
	top: 10%;
	left: 20%;
 }
 
}

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
